# Asset Classification (Supervised)

## Authors
- Bhargav Suryadevara (NVIDIA)
- Gorkem Batmaz (NVIDIA)

## Table of Contents 
* Introduction
* Dataset
* Reading in the datasets
* Training and inference
* References

# Introduction

In this notebook we will show how to predict the function of a server with Windows Event Logs using `cudf`, `cuml` and `pytorch`. The machines are labeled as DC, SQL, WEB, DHCP, MAIL and SAP. The dependent variable will be the type of the machine. The features are selected from Windows Event Logs which is in a tabular format.

## Library imports

In [1]:
import cudf
import torch
import numpy as np
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as torch_optim
from torch.utils.dlpack import from_dlpack
from cuml.preprocessing import LabelEncoder
from cuml.preprocessing import train_test_split
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
import pandas as pd

In [2]:
batch_size = 10000
label_col = '19'
epochs = 15

#### Read the dataset into a GPU dataframe with `cudf.read_csv()`

In [3]:
win_events_on_gpu = cudf.read_csv('win_events_18_features.csv')

In [4]:
features = {
    "1" : "eventcode",
    "2" : "keywords",
    "3" : "privileges",
    "4" : "message",
    "5" : "sourcename", 
    "6" : "taskcategory",
    "7" : "account_for_which_logon_failed_account_domain",
    "8" : "detailed_authentication_information_authentication_package",
    "9" : "detailed_authentication_information_key_length",
    "10" : "detailed_authentication_information_logon_process",
    "11" : "detailed_authentication_information_package_name_ntlm_only",
    "12" : "logon_type",
    "13" : "network_information_workstation_name",
    "14" : "new_logon_security_id",
    "15" : "impersonation_level",
    "16" : "network_information_protocol",
    "17" : "network_information_direction",
    "18" : "filter_information_layer_name"
}

In [5]:
win_events_on_gpu.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,4624,Audit Success,None,An account was successfully logged on.,Microsoft Windows security auditing.,Logon,None,Kerberos,0.0,Kerberos,-,3.0,None,NVIDIA.COM\MCRAIGHEAD-LT2$,None,null,None,None,DHCP
1,4756,Audit Success,None,A member was added to a security-enabled unive...,Microsoft Windows security auditing.,Security Group Management,None,None,null,None,None,null,None,None,None,null,None,None,DC
2,4756,Audit Success,None,A member was added to a security-enabled unive...,Microsoft Windows security auditing.,Security Group Management,None,None,null,None,None,null,None,None,None,null,None,None,DC
3,4756,Audit Success,None,A member was added to a security-enabled unive...,Microsoft Windows security auditing.,Security Group Management,None,None,null,None,None,null,None,None,None,null,None,None,DC
4,4756,Audit Success,None,A member was added to a security-enabled unive...,Microsoft Windows security auditing.,Security Group Management,None,None,null,None,None,null,None,None,None,null,None,None,DC

#### Categorize the Labels

In [6]:
for col in win_events_on_gpu.columns:
    win_events_on_gpu[col] = win_events_on_gpu[col].astype('str')
    win_events_on_gpu[col] = win_events_on_gpu[col].fillna("NA")
    win_events_on_gpu[col] = LabelEncoder().fit_transform(win_events_on_gpu[col])

In [7]:
for col in win_events_on_gpu.columns:
    win_events_on_gpu[col] = win_events_on_gpu[col].astype('int16')

In [8]:
win_events_on_gpu.to_csv("test12")

### Split the dataset into training and validation sets using cuML `train_test_split` function
Column 19 is the dependent variable hence we save it as labels.

In [9]:
X, val_X, Y, val_Y = train_test_split(win_events_on_gpu, label_col, train_size=0.9)

In [10]:
val_X.index = val_Y.index

In [11]:
val_X.head()

        1  2  3   4  5  6   7  8  9  10  11  12   13    14  15  16  17  18

31848  21  1  0  23  0  1  22  3  2   6   1   6  932    25   3   2   0   2
8041    0  1  0  15  0  4  22  4  1   7   2   1  591    34   3   6   1   1
76321   0  1  0  15  0  4  22  0  0   5   0   6    0  8826   0   6   1   1
48760   0  1  0  15  0  4  22  0  0   5   0   1    0  2116   2   6   1   1
63533   1  0  0  14  0  4  25  4  0   7   0   1  566    25   3   6   1   1

In [12]:
val_Y.head()

31848    0
8041     0
76321    0
48760    0
63533    0
Name: 19, dtype: int16

In [13]:
X, test_X, Y, test_Y = train_test_split(X,Y, train_size=0.9)

In [14]:
X.index = Y.index
test_X.index = test_Y.index

In [15]:
X.head()

        1  2  3   4  5  6   7  8  9  10  11  12   13    14  15  16  17  18

38010  21  1  0  23  0  1  22  3  2   6   1   6  932    25   3   5   2   0
31299   0  1  0  15  0  4  22  0  0   5   0   1  932  2116   1   6   1   1
80274   0  1  0  15  0  4  22  0  0   5   0   1  932  2114   2   6   1   1
57853   0  1  0  15  0  4  22  5  0   0   0   3    0    27   2   6   1   1
18544   0  1  0  15  0  4  22  0  0   5   0   1  932  2116   2   6   1   1

In [16]:
Y.head()

38010    0
31299    2
80274    2
57853    3
18544    2
Name: 19, dtype: int16

### Print Labels

In [17]:
test_Y.head()

17024    2
81282    2
81498    1
28541    0
36217    0
Name: 19, dtype: int16

### Embedding columns, check values in the columns

In [18]:
embedded_cols = {}
for col in X.columns:
    catergories_cnt = X[col].max()+2
    if catergories_cnt > 1:
        embedded_cols[col] = catergories_cnt
embedded_cols

{'1': 24,
 '2': 4,
 '3': 9,
 '4': 26,
 '5': 3,
 '6': 9,
 '7': 37,
 '8': 8,
 '9': 4,
 '10': 11,
 '11': 5,
 '12': 8,
 '13': 1409,
 '14': 8990,
 '15': 5,
 '16': 8,
 '17': 4,
 '18': 4}

In [19]:
X[label_col] = Y
val_X[label_col] = val_Y
test_X[label_col] = test_Y

#### Choosing columns for embedding

In [20]:
embedded_col_names = embedded_cols.keys()
embedded_col_names

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18'])

In [21]:
embedded_cols.items()

dict_items([('1', 24), ('2', 4), ('3', 9), ('4', 26), ('5', 3), ('6', 9), ('7', 37), ('8', 8), ('9', 4), ('10', 11), ('11', 5), ('12', 8), ('13', 1409), ('14', 8990), ('15', 5), ('16', 8), ('17', 4), ('18', 4)])

In [22]:
embedding_sizes = [(n_categories, min(100, (n_categories+1)//2)) for _,n_categories in embedded_cols.items()]
embedding_sizes

[(24, 12),
 (4, 2),
 (9, 5),
 (26, 13),
 (3, 2),
 (9, 5),
 (37, 19),
 (8, 4),
 (4, 2),
 (11, 6),
 (5, 3),
 (8, 4),
 (1409, 100),
 (8990, 100),
 (5, 3),
 (8, 4),
 (4, 2),
 (4, 2)]

Partition the dataframe

In [23]:
def get_partitioned_dfs(df, batch_size):
    dataset_len = df.shape[0]
    prev_chunk_offset = 0
    partitioned_dfs = []
    while prev_chunk_offset < dataset_len:
        curr_chunk_offset = prev_chunk_offset + batch_size
        chunk = df.iloc[prev_chunk_offset:curr_chunk_offset:1]
        partitioned_dfs.append(chunk)
        prev_chunk_offset = curr_chunk_offset
    return partitioned_dfs

In [24]:
train_part_dfs = get_partitioned_dfs(X, batch_size)
val_part_dfs = get_partitioned_dfs(val_X, batch_size)
test_part_dfs = get_partitioned_dfs(test_X, batch_size)

In [25]:
train_part_dfs[0].head()

        1  2  3   4  5  6   7  8  9  10  11  12   13    14  15  16  17  18  19

38010  21  1  0  23  0  1  22  3  2   6   1   6  932    25   3   5   2   0   0
31299   0  1  0  15  0  4  22  0  0   5   0   1  932  2116   1   6   1   1   2
80274   0  1  0  15  0  4  22  0  0   5   0   1  932  2114   2   6   1   1   2
57853   0  1  0  15  0  4  22  5  0   0   0   3    0    27   2   6   1   1   3
18544   0  1  0  15  0  4  22  0  0   5   0   1  932  2116   2   6   1   1   2

In [26]:
del win_events_on_gpu
del X
del val_X
del test_X

## Check GPU availability

If there's a GPU, data is moved on to the GPU.

In [27]:
def get_default_device():
    """Pick GPU if available, else CPU"""
    if torch.cuda.is_available():
        return torch.device('cuda')
    else:
        return torch.device('cpu')

In [28]:
def to_device(data, device):
    """Move tensor(s) to chosen device"""
    if isinstance(data, (list,tuple)):
        return [to_device(x, device) for x in data]
    return data.to(device, non_blocking=True)

In [29]:
device = get_default_device()

In [30]:
device

device(type='cuda')

In [31]:
def bn_drop_lin(n_in, n_out, bn, p, actn):
    "Sequence of batchnorm (if `bn`), dropout (with `p`) and linear (`n_in`,`n_out`) layers followed by `actn`."
    layers = [nn.BatchNorm1d(n_in)] if bn else []
    if p != 0: layers.append(nn.Dropout(p))
    layers.append(nn.Linear(n_in, n_out))
    if actn is not None: layers.append(actn)
    return layers

The bn_drop_lin function returns a sequence of batch normalization, dropout and a linear layer. This custom layer is usually used at the end of a model.

n_in represents the size of the input, n_out the size of the output, bn whether we want batch norm or not, p how much dropout, and actn (optional parameter) adds an activation function at the end.
Reference: https://github.com/fastai/fastai/blob/master/fastai/layers.py#L44

## Define Model Class

In [32]:
class TabularModel(nn.Module):
    "Basic model for tabular data"
    
    def __init__(self, emb_szs, n_cont, out_sz, layers, drops, 
                 emb_drop, use_bn, is_reg, is_multi):
        super().__init__()
        
        self.embeds = nn.ModuleList([nn.Embedding(ni, nf) for ni,nf in emb_szs])
        self.emb_drop = nn.Dropout(emb_drop)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        n_emb = sum(e.embedding_dim for e in self.embeds)
        self.n_emb,self.n_cont = n_emb,n_cont
        sizes = [n_emb + n_cont] + layers + [out_sz]
        actns = [nn.ReLU(inplace=True)] * (len(sizes)-2) + [None]
        layers = []
        for i,(n_in,n_out,dp,act) in enumerate(zip(sizes[:-1],sizes[1:],[0.]+drops,actns)):
            layers += bn_drop_lin(n_in, n_out, bn=use_bn and i!=0, p=dp, actn=act)
        self.layers = nn.Sequential(*layers)
    
    def forward(self, x_cat, x_cont):
        if self.n_emb != 0:
                x = [e(x_cat[:,i]) for i,e in enumerate(model.embeds)]
                x = torch.cat(x, 1)
                x = self.emb_drop(x)
        if self.n_cont != 0:
            x_cont = self.bn_cont(x_cont) 
            x = torch.cat([x, x_cont], 1) if self.n_emb != 0 else x_cont
        x = self.layers(x)
        return x.squeeze()

In [33]:
model = TabularModel(embedding_sizes, 0, 6, [200,100], [0.001,0.01], emb_drop=0.04, is_reg=False,is_multi=True, use_bn=True)
to_device(model, device)

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(24, 12)
    (1): Embedding(4, 2)
    (2): Embedding(9, 5)
    (3): Embedding(26, 13)
    (4): Embedding(3, 2)
    (5): Embedding(9, 5)
    (6): Embedding(37, 19)
    (7): Embedding(8, 4)
    (8): Embedding(4, 2)
    (9): Embedding(11, 6)
    (10): Embedding(5, 3)
    (11): Embedding(8, 4)
    (12): Embedding(1409, 100)
    (13): Embedding(8990, 100)
    (14): Embedding(5, 3)
    (15): Embedding(8, 4)
    (16): Embedding(4, 2)
    (17): Embedding(4, 2)
  )
  (emb_drop): Dropout(p=0.04, inplace=False)
  (bn_cont): BatchNorm1d(0, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=288, out_features=200, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.001, inplace=False)
    (4): Linear(in_features=200, out_features=100, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.01, inplace=False)
    (8): Linear(in_features=100, out_features=6, bias=True)
  )
)

#### Define the Optimizer

In [34]:
def get_optimizer(model, lr = 0.001, wd = 0.0):
    parameters = filter(lambda p: p.requires_grad, model.parameters())
    optim = torch_optim.Adam(parameters, lr=lr, weight_decay=wd)
    return optim

#### Training function

In [35]:
def train_model(model, optim, dfs):
    model.train()
    total = 0
    sum_loss = 0
    
    xb_cont_tensor = torch.zeros(0, 0)
    xb_cont_tensor.cuda()
    
    for df in dfs:
        batch = df.shape[0] 
        train_set = df.drop(label_col).to_dlpack()
        train_set = from_dlpack(train_set).long()
        
        output = model(train_set, xb_cont_tensor)
        train_label = df[label_col].to_dlpack()
        train_label = from_dlpack(train_label).long()
        
        loss = F.cross_entropy(output, train_label)   
        
        optim.zero_grad()
        loss.backward()
        optim.step()
        total += batch
        sum_loss += batch*(loss.item())
        
    return sum_loss/total

#### Evaluation function

In [36]:
def val_loss(model, dfs):
    model.eval()
    total = 0
    sum_loss = 0
    correct = 0
    
    xb_cont_tensor = torch.zeros(0, 0)
    xb_cont_tensor.cuda()
    
    for df in dfs:
        current_batch_size = df.shape[0]
        
        val = df.drop(label_col).to_dlpack()
        val = from_dlpack(val).long()
        
        out = model(val, xb_cont_tensor)
        
        val_label = df[label_col].to_dlpack()
        val_label = from_dlpack(val_label).long()
        
        loss = F.cross_entropy(out, val_label)
        sum_loss += current_batch_size*(loss.item())
        total += current_batch_size
        
        pred = torch.max(out, 1)[1]
        correct += (pred == val_label).float().sum().item()
    print("valid loss %.3f and accuracy %.3f" % (sum_loss/total, correct/total))
    
    return sum_loss/total, correct/total

Prediction function to be used with a test set

In [37]:
def predict(model, test_set):
    xb_cont_tensor = torch.zeros(0, 0)
    xb_cont_tensor.cuda()
    
    current_batch_size = test_set.shape[0]

    test_set = test_set.to_dlpack()
    test_set = from_dlpack(test_set).long()
    
    out = model(test_set, xb_cont_tensor)
    pred = torch.max(out, 1)[1].view(-1).tolist()
    return pred

In [38]:
def train_loop(model, epochs, lr=0.01, wd=0.0):
    optim = get_optimizer(model, lr = lr, wd = wd)
    for i in range(epochs): 
        loss = train_model(model, optim, train_part_dfs)
        print("training loss: ", loss)
        val_loss(model, val_part_dfs)

In [39]:
def cleanup_cache():
    # release memory.
    torch.cuda.empty_cache()

## Training

In [40]:
train_loop(model, epochs=epochs, lr=0.03, wd=0.00001)

/conda/envs/clx/lib/python3.7/site-packages/cudf/io/dlpack.py:74: UserWarning: WARNING: cuDF to_dlpack() produces column-major (Fortran order) output. If the output tensor needs to be row major, transpose the output of this function.
  return libdlpack.to_dlpack(gdf_cols)

training loss:  0.9133817431990948
valid loss 2.450 and accuracy 0.476
training loss:  0.4402106967393638
valid loss 0.535 and accuracy 0.882
training loss:  0.3443455873899752
valid loss 0.370 and accuracy 0.889
training loss:  0.28956000617564814
valid loss 0.275 and accuracy 0.912
training loss:  0.24515622476364388
valid loss 0.244 and accuracy 0.916
training loss:  0.2202369526271342
valid loss 0.228 and accuracy 0.922
training loss:  0.2030925843652057
valid loss 0.215 and accuracy 0.927
training loss:  0.1932622708985426
valid loss 0.213 and accuracy 0.928
training loss:  0.18699246957514692
valid loss 0.213 and accuracy 0.930
training loss:  0.18307869414854816
valid loss 0.209 and accuracy 0.930
training loss:  0.17979842508343535
valid loss 0.200 and accuracy 0.930
training loss:  0.1776543204411675
valid loss 0.196 and accuracy 0.930
training loss:  0.17603923730252227
valid loss 0.198 and accuracy 0.931
training loss:  0.17460754539804293
valid loss 0.203 and accuracy 0.931
training loss:  0.17474127208813997
valid loss 0.206 and accuracy 0.931

In [41]:
def inference(model, test_part_dfs):
    pred_results = []
    true_results = []
    for df in test_part_dfs:
        pred_results.append(predict(model, df))
        true_results.append(df[label_col].values_host)                           
    pred_results = np.concatenate(pred_results).astype(np.int32)
    true_results = np.concatenate(true_results)
    f1_score_ = f1_score(pred_results, true_results,average='micro')
    print('micro F1 score: %s'%(f1_score_))
    return true_results, pred_results

In [42]:
true_results, pred_results = inference(model, test_part_dfs)
cleanup_cache()

micro F1 score: 0.9327287493232268

In [43]:
labels = ["DC","DHCP","MAIL","SAP","SQL","WEB"]
a = confusion_matrix(true_results, pred_results)

In [44]:
pd.DataFrame(a, index=labels, columns=labels)

        DC  DHCP  MAIL  SAP  SQL  WEB
DC    3175    19     9    4   23    9
DHCP    84   626     0    1    2    1
MAIL    13     0  2350    7    0    0
SAP     14     0     1  148    3    0
SQL    205     2     2   14  547   20
WEB     36     0     0    0   28   45

* References: https://jovian.ml/aakashns/04-feedforward-nn
* https://www.kaggle.com/dienhoa/reverse-tabular-module-of-fast-ai-v1
* https://github.com/fastai/fastai/blob/master/fastai/layers.py#L44